:root {
  --back-color: #f0f0f0;
  --text-color: rgb(0, 0, 0);
}

* {
  padding: 0;
  margin: 0;
  font-size: 1em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  font-family: "Times New Roman", Times, serif;
  min-height: 100vh;
}

.wrapper {
  flex: 1 0 auto;
}

header {
  text-align: center;
  padding: 20px;
}

header a {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
}

main {
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}

footer {
  flex-shrink: 0;
  width: 100%;
  padding: 5px;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.footer-right {
  text-align: right;
  margin-top: 10px;
}

h1 {
  font-size: 1.5em;
  font-weight: 700;
  display: inline;
  margin-right: 5px;
}

h2 {
  margin-top: 50px;
  font-size: 1.3em;
}

h3 {
  margin-top: 50px;
  font-size: 1.5em;
}

p {
  line-height: 1.5em;
  margin-top: 20px;
  display: block;
}

a {
  color: inherit;
}

a:hover, a:focus {
  color: var(--back-color);
  background-color: var(--text-color);
}

ul {
  margin-left: 30px;
  margin-top: 10px;
  line-height: 1.3em;
}

li {
  margin-bottom: 5px;
}

#mc_embed_signup {
  background: #fff;
  false;
  clear: left;
  width: 600px;
}

@media (min-width: 601px) {
  main {
    padding: 30px 140px 0 140px;
  }

  .footer-content {
    padding: 30px 130px 0 130px;
  }
}

@media (max-width: 600px) {
  footer {
    padding: 10px;
  }

  .footer-content {
    max-width: 100%;
    padding: 0 20px;
  }

  #mc_embed_signup {
    width: 100%;
    padding: 0 20px;
  }

  #mc_embed_signup input.email {
    width: 100%;
    margin-bottom: 10px;
  }

  #mc_embed_signup .button {
    width: 100%;
  }
}

header {
    position: relative;
    text-align: center;
    padding: 20px;
}

.back-link {
    margin-bottom: 20px;
}

.back-link a {
    text-decoration: none;
}

@media (max-width: 600px) {
    .back-link {
        left: 10px;
        top: 10px;
    }
}